In [1]:
import pandas as pd
import numpy as np

# Show all rows
pd.set_option("display.max_rows", None)

# Show all columns
pd.set_option("display.max_columns", None)

# Make sure wide DataFrames don't wrap
pd.set_option("display.width", None)

# Show the full content of each column (no '...')
pd.set_option("display.max_colwidth", None)

In [2]:
file_path = r"C:\Users\Arunkumara\Downloads\DRGHistoricalReviewInformation_11182025.txt"

df_hist = pd.read_csv(file_path, sep='|', dtype=str, low_memory=False)

print(df_hist.info())
df_hist.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 886092 entries, 0 to 886091
Columns: 282 entries, Payor to AdjustedSavings
dtypes: object(282)
memory usage: 1.9+ GB
None

,Payor,claimid,Client,Control_ID,Claim_Number,PaymentType,Group_Type,Payments,Tax_ID,Provider_ID,HospitalName,LOS,DISP_Code,ADRG,DischargeYear,DischargeMonth,AGE,A_CCCount,A_MCCCount,B_CCCount,B_MCCCount,LOB,MRREQ,MRREC,PRIM_DX,A_DX2,A_DX3,A_DX4,A_DX5,A_DX6,A_DX7,A_DX8,A_DX9,A_DX10,A_DX11,A_DX12,A_DX13,A_DX14,A_DX15,A_DX16,A_DX17,A_DX18,A_DX19,A_DX20,A_DX21,A_DX22,A_DX23,A_DX24,A_DX25,A_POA,A_POA2,A_POA3,A_POA4,A_POA5,A_POA6,A_POA7,A_POA8,A_POA9,A_POA10,A_POA11,A_POA12,A_POA13,A_POA14,A_POA15,A_POA16,A_POA17,A_POA18,A_POA19,A_POA20,A_POA21,A_POA22,A_POA23,A_POA24,A_POA25,A_PX1,A_PX2,A_PX3,A_PX4,A_PX5,A_PX6,A_PX7,A_PX8,A_PX9,A_PX10,A_PX11,A_PX12,A_PX13,A_PX14,A_PX15,A_PX16,A_PX17,A_PX18,A_PX19,A_PX20,A_PX21,A_PX22,A_PX23,A_PX24,A_PX25,B_DISPCode,B_DenialCode,B_DRG,B_PRIMDX,B_DX2,B_DX3,B_DX4,B_DX5,B_DX6,B_DX7,B_DX8,B_DX9,B_DX10,B_DX11,B_DX12,B_DX13,B_DX14,B_DX15,B_DX16,B_DX17,B_DX18,B_DX19,B_DX20,B_DX21,B_DX22,B_DX23,B_DX24,B_DX25,B_POA,B_POA2,B_POA3,B_POA4,B_POA5,B_POA6,B_POA7,B_POA8,B_POA9,B_POA10,B_POA11,B_POA12,B_POA13,B_POA14,B_POA15,B_POA16,B_POA17,B_POA18,B_POA19,B_POA20,B_POA21,B_POA22,B_POA23,B_POA24,B_POA25,B_PX1,B_PX2,B_PX3,B_PX4,B_PX5,B_PX6,B_PX7,B_PX8,B_PX9,B_PX10,B_PX11,B_PX12,B_PX13,B_PX14,B_PX15,B_PX16,B_PX17,B_PX18,B_PX19,B_PX20,B_PX21,B_PX22,B_PX23,B_PX24,B_PX25,A_PRIMDX_Desc,A_DX2_Desc,A_DX3_Desc,A_DX4_Desc,A_DX5_Desc,A_DX6_Desc,A_DX7_Desc,A_DX8_Desc,A_DX9_Desc,A_DX10_Desc,A_DX11_Desc,A_DX12_Desc,A_DX13_Desc,A_DX14_Desc,A_DX15_Desc,A_DX16_Desc,A_DX17_Desc,A_DX18_Desc,A_DX19_Desc,A_DX20_Desc,A_DX21_Desc,A_DX22_Desc,A_DX23_Desc,A_DX24_Desc,A_DX25_Desc,A_PX1_Desc,A_PX2_Desc,A_PX3_Desc,A_PX4_Desc,A_PX5_Desc,A_PX6_Desc,A_PX7_Desc,A_PX8_Desc,A_PX9_Desc,A_PX10_Desc,A_PX11_Desc,A_PX12_Desc,A_PX13_Desc,A_PX14_Desc,A_PX15_Desc,A_PX16_Desc,A_PX17_Desc,A_PX18_Desc,A_PX19_Desc,A_PX20_Desc,A_PX21_Desc,A_PX22_Desc,A_PX23_Desc,A_PX24_Desc,A_PX25_Desc,B_PRIMDX_Desc,B_DX2_Desc,B_DX3_Desc,B_DX4_Desc,B_DX5_Desc,B_DX6_Desc,B_DX7_Desc,B_DX8_Desc,B_DX9_Desc,B_DX10_Desc,B_DX11_Desc,B_DX12_Desc,B_DX13_Desc,B_DX14_Desc,B_DX15_Desc,B_DX16_Desc,B_DX17_Desc,B_DX18_Desc,B_DX19_Desc,B_DX20_Desc,B_DX21_Desc,B_DX22_Desc,B_DX23_Desc,B_DX24_Desc,B_DX25_Desc,B_PX1_Desc,B_PX2_Desc,B_PX3_Desc,B_PX4_Desc,B_PX5_Desc,B_PX6_Desc,B_PX7_Desc,B_PX8_Desc,B_PX9_Desc,B_PX10_Desc,B_PX11_Desc,B_PX12_Desc,B_PX13_Desc,B_PX14_Desc,B_PX15_Desc,B_PX16_Desc,B_PX17_Desc,B_PX18_Desc,B_PX19_Desc,B_PX20_Desc,B_PX21_Desc,B_PX22_Desc,B_PX23_Desc,B_PX24_Desc,B_PX25_Desc,InitialDeterminationDate,InitialDenialType,InitialDeterminationStatus,IDSavings,AdjustedSavings
0,UHC CSP,758656,NY,EXPR101623-340919,23N652771000,PrePay,01,15948.41,141340054,000334584002,ST LUKES CORNWALL HOSPITAL,9,02-TRNSF ACUTE CARE FAC,432,2023,9,69,2,2,2,2,NYCARE,2023-10-17 16:38:04.687000000,2023-11-08 00:00:00,K7030,I8511 - MCC,N170 - MCC,K766 - CC,D62 - CC,E119,K7682,F1010,I10,E039,Z794,K3189,E785,Z20822,Z87891,Z7984,Z751,Z741,Z7409,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,N,Y,Y,Y,Y,Y,Y,Y,,Y,Y,Y,,,,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,30233N1,06L38CZ,06L38CZ,0BH17EZ,5A1945Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,02-TRNSF ACUTE CARE FAC,NaN,432,K7030,I8511 - MCC,N170 - MCC,K766 - CC,D62 - CC,E119,K7682,F1010,I10,E039,Z794,K3189,E785,Z20822,Z87891,Z7984,Z751,Z741,Z7409,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,N,Y,Y,Y,Y,Y,Y,Y,NaN,Y,Y,Y,NaN,NaN,NaN,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,30233N1,06L38CZ,06L38CZ,0BH17EZ,5A1945Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alcoholic cirrhosis of liver without ascites,Secondary esophageal varices with bleeding,Acute kidney failure with tubular necrosis,Portal hypertension,Acute posthemorrhagic anemia,Type 2 diabetes mellitus without complications,Hepatic encephalopathy,"Alcohol abuse, uncomplicated",Essential (primary) hypertension,"Hypothyroidism, unspecified",Long term (current) use of insulin,Other diseases of stomach and duodenum,"Hyperlipidemia, unspecified",Contact with and (suspected) exposure to COVID-19,Personal history of nicotine dependence,Long term (current) use of oral hypoglycemic drugs,Person awaiting admission to adequate facility elsewhere,Need for assistance with personal care,Other reduced mobility,NaN,NaN,NaN,NaN,NaN,NaN,"Transfusion of Nonautologous Red Blood Cells into Peripheral Vein, Percutaneous Approach","Occlusion of Esophageal Vein with Extraluminal Device, Via Natural or Artificial Opening Endoscopic","Occlusion of Esophageal Vein with Extraluminal Device, Via Natural or Artificial Opening Endoscopic","Insertion of Endotracheal Airway into Trachea, Via Natural or Artificial Opening","Respiratory Ventilation, 24-96 Consecutive Hours",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Alcoholic cirrhosis of liver without ascites,Secondary esophageal varices with bleeding,Acute kidney failure with tubular necrosis,Portal hypertension,Acute posthemorrhagic anemia,Type 2 diabetes mellitus without complications,Hepatic encephalopathy,"Alcohol abuse, uncomplicated",Essential (primary) hypertension,"Hypothyroidism, unspecified",Long term (current) use of insulin,Other diseases of stomach and duodenum,"Hyperlipidemia, unspecified",Contact with and (suspected) exposure to COVID-19,Personal history of nicotine dependence,Long term (current) use of oral hypoglycemic drugs,Person awaiting admission to adequate facility elsewhere,Need for assistance with personal care,Other reduced mobility,NaN,NaN,NaN,NaN,NaN,NaN,"Transfusion of Nonautologous Red Blood Cells into Peripheral Vein, Percutaneous Approach","Occlusion of Esophageal Vein with Extraluminal Device, Via Natural or Artificial Opening Endoscopic","Occlusion of Esophageal Vein with Extraluminal Device, Via Natural or Artificial Opening Endoscopic","Insertion of Endotracheal Airway into Trachea, Via Natural or Artificial Opening","Respiratory Ventilation, 24-96 Consecutive Hours",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-11-17 13:25:52.370000000,Substantive,Approved,.00,0
1,UHC CSP,758732,NY,EXPR101723-341037,23O144833200,PrePay,01,10477.92,141348692,000258115003,ST PETERS HOSPITAL,5,01-ROUTINE/HOME,919,2023,9,62,4,2,4,2,NYCARE,2023-10-17 16:30:09.853000000,2023-10-20 00:00:00,T85698A,A419 - MCC,J869 - MCC,J948 - CC,C7951 - CC,J910 - CC,F3130 - CC,J439,I10,E782,E8342,F17210,Z716,F419,L299,Z170,Z79810,Z853,Z85828,Z9012,Z79811,Z923,NaN,NaN,NaN,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,,Y,Y,,,,,,,,NaN,NaN,NaN,0W9B30Z,3E03317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01-ROUTINE/HOME,NaN,919,T85698A - CC,A419 - MCC,J869 - MCC,J948 - CC,C7951 - CC,J910 - CC,F3130 - CC,J439,I10,E782,E8342,F17210,Z716,F419,L299,Z170,Z79810,Z853,Z85828,Z9012,Z79811,Z923,NaN,NaN,NaN,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,1,Y,Y,1,1,1,1,1,1,1,NaN,NaN,NaN,0W9B30Z,3E03317,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Other mechanical complication of other specified internal prosthetic devices, implants and grafts, initial encounter","Sepsis, unspecified organism",Pyothorax without fistula,Other specified pleural conditions,Secondary malignant neoplasm of bone,Malignant pleural effusion,"Bipolar disorder, current episode depressed, mild or moderate severity, unspecified","Emphysema, unspecified",Essential (primary) hypertension,Mixed hyperlipidemia,Hypomagnesemia,"Nicotine dependence, cigarettes, uncomplicated",Tobacco abuse counseling,"Anxiety disorder, unspecified","Pruritus, unspecified",Estrogen receptor positive status [ER+],Long term (current) use of selective estrogen receptor modulators (SERMs),Personal history of malignant neoplasm of breast,Personal history of other malignant neoplasm of skin,Acquired absence of left breast and nipple,Long term (current) use of aromatase inhibitors,Personal history of irradiation,NaN,NaN,NaN,"Drainage of Left Pleural Cavity with Drainage Device, Percutaneous Approach","Introduction of Other Thrombolytic into Peripheral Vein, Percutaneous Approach",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Other mechanical complication of other specified internal prosthetic devices, implants and grafts, initial encounter","Sepsis, unspecified organism",Pyothorax without fistula,Other specified pleural conditions,Secondary malignant neoplasm of bone,Malignant pleural effusion,"Bipolar disorder, current episode depressed, mild or moderate severity, unspecified","Emphysema, unspecified",Essential (primary) hypertension,Mixed hyperlipidemia,Hypomagnesemia,"Nicotine dependence, cigarettes, uncomplicated",Tobacco abuse counseling,"Anxiety disorder, unspecified","Pruritus, unspecified",Estrogen receptor positive status [ER+],Long term (current) use of selective estrogen receptor modulators (SERMs),Personal history of malignant neoplasm of breast,Personal history of other malignant neoplasm of skin,Acquired absence of left breast and nipple,Long term (current) use of aromatase inhibitors,Personal history of irradiation,NaN,NaN,NaN,"Drainage of Left Pleural Cavity with Drainage Device, Percutaneous Approach","Introduction of Other Thrombolytic into Peripheral Vein, Percutaneous Approach",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2023-11-02 10:37:06.710000000,Substantive,Approved,.00,0
2,UHC CSP,758762,NY,EXPR101723-341041,23O921646100,PrePay,01,11532.33,160762843,000657681001,KENMORE MERCY HOSPITAL,3,03-TRNSF TO SKILLED NURSING FAC,871,2023,10,77,7,3,7,0,NYCARE,2023-10-17 16:25:58.280000000,2023-12-14 00:00:00,A419,J159 - MCC,G9341 - MCC,J440 - CC,I130 - CC,I5042 - CC,I4811 - CC,J9611 - CC,I429 - CC,L97222 - CC,Z66,R6520 - MCC,E1165,E8342,E1122,N182,E1142,I83002,E785,I2510,K219,M109,Z8616,Z7901,Z7985,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,,,,05HY33Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03-TRNSF TO SKILLED NURSING FAC,801C,194,J159 - MCC,J440 - CC,I130 - CC,I5042 - CC,I4811 - CC,J9611 - CC,I429 - CC,L97222 - CC,Z66,E1165,E8342,E1122,N182,E1142,I83002,E785,I2510,K219,M109,Z8616,Z7901,Z7985,NaN,NaN,NaN,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,Y,1,1,1,NaN,NaN,NaN,05HY33Z,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sepsis, unspecified organism",Unspecified bacterial pneumonia,Metabolic encephalopathy,Chronic obstructive pulmonary disease with (acute) lower respiratory infection,"Hypertensive heart and chronic kidney disease with heart failure and stage 1 through stage 4 chronic kidney disease, or unspecified chronic kidney disease",Chronic combined systolic (congestive) and diastolic (congestive) heart failure,Longstanding persistent atrial fibrillation,Chronic respiratory failure with hypoxia,"Cardiomyopathy, unspecified",Non-pressure chronic ulcer of left calf with fat layer exposed,Do not resuscitate,Severe sepsis without septic shock,Type 2 diabetes mellitus with hyperglycemia,Hypomagnesemia,Type 2 diabetes mellitus with diabetic chronic kidney disease,"Chronic kidney disease, stage 2 (mild)",Type 2 diabetes mellitus with diabetic polyneuropathy,Varicose veins of unspecified lower extremity with ulcer of calf,"Hyperlipidemia, unspecified",Atherosclerotic heart disease of native coronary artery without angina pectoris,Gastro-esophageal reflux disease without esophagitis,"Gout, unspecified",Personal history of COVID-19,Long term (current) use of anticoagulants,Lng trm(crnt)use injectable non-insulin antidiabetic drugs,"Insertion of Infusion Device into Upper Vein, Percutaneous Approach",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Unspecified bacterial pneumonia,Chronic obstructive pulmonary disease with (acute) lower respiratory infection,"Hypertensive heart and chronic kidney disease with heart failure and stage 1 through stage 4 chronic kidney disease, or unspecified chronic kidney disease",Chronic combined systolic (congestive) and diastolic (congestive) heart failure,Longstanding persistent atrial fibrillation,Chronic respiratory failure with hypoxia,"Cardiomyopathy, unspecified",Non-pressure chronic ulcer of left calf with fat layer exposed,Do not resuscitate,Type 2 diabetes mellitus with hyperglycemia,Hypomagnesemia,Type 2 diabetes mellitus with diabetic chronic kidney disease,"Chronic kidney disease, stage 2 (mild)",Type 2 diabetes mellitus with diabetic polyneuropathy,Varicose veins of unspecified lower extremity with ulcer of calf,"Hyperlipidemia, unspecified",Atherosclerotic heart disease of native coronary artery without angina pectoris,Gastro-esophageal reflux disease without esophagitis,"Gout, unspecified",Personal history of COVID-19,Long term (current) use of anticoagulants,Lng trm(crnt)use injectable non-insulin antidiabetic drugs,NaN,NaN,NaN,"Insertion of Infusion Device into Upper Vein, Percutaneous Approach",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2024-01-03 14:38:45.370000000,Substantive,Denied,4440.18,5940.3100000000004
3,UHC CSP,393206,IA,IAPT2022-01-30899,21A985906501,PostPay,01,12227.790000000001,420698265,000023698002,ALLEN HOSPITAL,2,01-ROUTINE/HOME,854,2021,1,60,3,0,2,0,IADSNP,2022-01-06 13:33:35.747000000,2022-01-20 00:00:00,A419,N179 - CC,N136 - CC,Z6843 - CC,E1122,E6601,K8020,G4733,I129,Z466,N181,E785,F17220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,NaN,Y,Y,Y,Y,Y,NaN,Y,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0T748DZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,01-ROUTINE/HOME,801C,660,N136 - CC,N179 - CC,Z6843 - CC,E1122,E6601,K8020,G4733,I129,Z466,N181,E785,F17220,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,1,Y,Y,Y,Y,Y,1,Y,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0T748DZ,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sepsis, unspecified organism","Acute kidney failure, unspecified",Pyonephrosis,"Body mass index [BMI] 50.0-59.9, adult",Type 2 diabetes mellitus with diabetic chronic kidney disease,Morbid (severe) obesity due to excess calories,Calculus of gallbladder without cholecystitis without obstruction,Obstructive sleep apnea (adult) (pediatric),"Hypertensive chronic kidney disease with stage 1 through stage 4 chronic kidney disease, or unspecified chronic kidney disease",Encounter for fitting and adjustment of urinary device,"Chronic kidney disease, stage 1","Hyperlipidemia, unspecified","Nicotine dependence, chewing tobacco, uncomplicated",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dilation of Left Kidney Pelvis with Intraluminal Device, Via Natural or Artificial Opening Endoscopic",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Pyonephrosis,"Acute kidney failure, unspecified","Body mass index [BMI] 50.0-59.9, adult",Type 2 diabetes mellitus with diabetic chronic kidney disease,Morbid (severe) obesity due to excess calories,Calculus of gallbladder without cholecystitis without obstruction,Obstructive sleep apnea (adult) (pediatric),"Hypertensive chronic kidney disease with stage 1 through stage 4 chronic kidney disease, or unspecified chronic kidney disease",Encounter for fitting and adjustment of urinary device,"Chronic kidney disease, stage 1","Hyperlipidemia, unspecified","Nicotine dependence, chewing tobacco, uncomplicated",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Dilation of Left Kidney Pelvis with Intraluminal Device, Via Natural or Artificial Opening Endoscopic",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-02-01 11:22:02.580000000,Substantive,Denied,3065.19,2733.5700000000002
4,UHC CSP,393210,IA,IAPT2022-01-30894,21I856356401,PostPay,01,10804.16,420698265,000023698002,ALLEN HOSPITAL,5,03-TRNSF TO SKILLED NURSING FAC,871,2021,7,70,2,3,2,3,IADSNP,2022-01-06 13:33:36.557000000,2022-01-19 00:00:00,A419,D61810 - MCC,Z66,G9341 - MCC,N179 - CC,C3490 - CC,R6520 - MCC,J449,N3090,Z720,R0902,E119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,Y,Y,Y,Y,Y,Y,NaN,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,03-TRNSF TO SKILLED NURSING FAC,NaN,871,A419 - MCC,D61810 - MCC,Z66,G9341 - MCC,N179 - CC,C3490 - CC,R6520 - MCC,J449,N3090,Z720,R0902,E119,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,Y,Y,Y,Y,Y,Y,Y,Y,NaN,Y,Y,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sepsis, unspecified organism",Antineoplastic chemotherapy induced pancytopenia,Do not resuscitate,Metabolic encephalopathy,"Acute kidney failure, unspecified",Malignant neoplasm of unspecified part of unspecified bronchus or lung,Severe sepsis without septic shock,"Chronic obstructive pulmonary disease, unspecified","Cystitis, unspecified without hematuria",Tobacco use,Hypoxemia,Type 2 diabetes mellitus without complications,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Sepsis, unspecified organism",Antineoplastic chemotherapy induced pancytopenia,Do not resuscitate,Metabolic encephalopathy,"Acute kidney failure, unspecified",Malignant neoplasm of unspecified part of unspecified bronchus or lung,Severe sepsis without septic shock,"Chronic obstructive pulmonary disease, unspecified","Cystitis, unspecified without hematuria",Tobacco use,Hypoxemia,Type 2 diabetes mellitus without complications,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-01-31 08:47:15.543000000,Substantive,Approved,.00,0

In [3]:
print(df_hist['InitialDenialType'].value_counts())

InitialDenialType
Substantive    772104
Assumptive     110464
Technical        3524
Name: count, dtype: int64

In [4]:
df_hist_sub = df_hist[df_hist['InitialDenialType']=='Substantive'].copy()
df_hist_sub.shape

(772104, 282)

In [5]:
df_hist_sub_hum = df_hist_sub[df_hist_sub['Client']=='Hum'].copy()
df_hist_sub_hum.shape

(64924, 282)

In [6]:
df_hist_sub_hum['len_adrg'] = df_hist_sub_hum['ADRG'].astype(str).str.len()
df_hist_sub_hum['len_bdrg'] = df_hist_sub_hum['B_DRG'].astype(str).str.len()

In [7]:
df_hist_sub_hum['len_adrg'].value_counts()

len_adrg
3    64064
4      860
Name: count, dtype: int64

In [8]:
df_hist_sub_hum['InitialDeterminationStatus'].value_counts()

InitialDeterminationStatus
Approved    56906
Denied       8018
Name: count, dtype: int64

In [9]:
df_hist_sub_hum_ms_drg = df_hist_sub_hum[~(df_hist_sub_hum['len_adrg']==4)].copy()
df_hist_sub_hum_ms_drg.shape

(64064, 284)

In [10]:
df_hist_sub_hum_ms_drg["AGE"] = pd.to_numeric(df_hist_sub_hum_ms_drg["AGE"], errors="coerce")
df_hist_sub_hum_ms_drg_age = df_hist_sub_hum_ms_drg[df_hist_sub_hum_ms_drg['AGE'] > 0]
df_hist_sub_hum_ms_drg_age.shape

(64063, 284)

In [11]:
df_hist_sub_hum_ms_drg_age['LOS'] = (
    df_hist_sub_hum_ms_drg_age['LOS']
        .astype(str)            # convert to string
        .str.strip()            # remove spaces
        .replace('', pd.NA)     # replace '' with NaN
        .astype('float')        # convert safely
        .astype('Int64')        # convert to integer (nullable)
)

df_hist_sub_hum_ms_drg_age_los = df_hist_sub_hum_ms_drg_age[df_hist_sub_hum_ms_drg_age['LOS'] >=0]
df_hist_sub_hum_ms_drg_age_los.shape

C:\Users\Arunkumara\AppData\Local\Temp\ipykernel_3676\1772071357.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist_sub_hum_ms_drg_age['LOS'] = (

(64061, 284)

In [12]:
# Step 1: Normalize DRG and A_PDX
df_hist_sub_hum_ms_drg_age_los['ADRG'] =df_hist_sub_hum_ms_drg_age_los['ADRG'].astype(str).str.strip()
df_hist_sub_hum_ms_drg_age_los['PRIM_DX'] = df_hist_sub_hum_ms_drg_age_los['PRIM_DX'].astype(str).str.strip().str.upper()
df_hist_sub_hum_ms_drg_age_los['LOB'] = df_hist_sub_hum_ms_drg_age_los['LOB'].astype(str).str.strip().str.upper()
df_hist_sub_hum_ms_drg_age_los['PaymentType'] = df_hist_sub_hum_ms_drg_age_los['PaymentType'].str.strip().str.upper()

# Step 2: Ensure numeric fields are clean

df_hist_sub_hum_ms_drg_age_los['IDSavings'] = pd.to_numeric(df_hist_sub_hum_ms_drg_age_los['IDSavings'], errors='coerce').fillna(0)
df_hist_sub_hum_ms_drg_age_los['LOS'] = pd.to_numeric(df_hist_sub_hum_ms_drg_age_los['LOS'], errors='coerce').fillna(0)
df_hist_sub_hum_ms_drg_age_los['AGE'] = pd.to_numeric(df_hist_sub_hum_ms_drg_age_los['AGE'], errors='coerce').fillna(0)
df_hist_sub_hum_ms_drg_age_los['A_MCCCount'] = pd.to_numeric(df_hist_sub_hum_ms_drg_age_los['A_MCCCount'], errors='coerce').fillna(0).astype(int)
df_hist_sub_hum_ms_drg_age_los['A_CCCount'] = pd.to_numeric(df_hist_sub_hum_ms_drg_age_los['A_CCCount'], errors='coerce').fillna(0).astype(int)

C:\Users\Arunkumara\AppData\Local\Temp\ipykernel_3676\172421177.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist_sub_hum_ms_drg_age_los['ADRG'] =df_hist_sub_hum_ms_drg_age_los['ADRG'].astype(str).str.strip()
C:\Users\Arunkumara\AppData\Local\Temp\ipykernel_3676\172421177.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist_sub_hum_ms_drg_age_los['PRIM_DX'] = df_hist_sub_hum_ms_drg_age_los['PRIM_DX'].astype(str).str.strip().str.upper()
C:\Users\Arunkumara\AppData\Local\Temp\ipykernel_3676\172421177.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist_sub_hum_ms_drg_age_los['LOB'] = df_hist_sub_hum_ms_drg_age_los['LOB'].astype(str).str.strip().str.upper()
C:\Users\Arunkumara\AppData\Local\Temp\ipykernel_3676\172421177.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist_sub_hum_ms_drg_age_los['PaymentType'] = df_hist_sub_hum_ms_drg_age_los['PaymentType'].str.strip().str.upper()
C:\Users\Arunkumara\AppData\Local\Temp\ipykernel_3676\172421177.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist_sub_hum_ms_drg_age_los['IDSavings'] = pd.to_numeric(df_hist_sub_hum_ms_drg_age_los['IDSavings'], errors='coerce').fillna(0)
C:\Users\Arunkumara\AppData\Local\Temp\ipykernel_3676\172421177.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist_sub_hum_ms_drg_age_los['LOS'] = pd.to_numeric(df_hist_sub_hum_ms_drg_age_los['LOS'], errors='coerce').fillna(0)
C:\Users\Arunkumara\AppData\Local\Temp\ipykernel_3676\172421177.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist_sub_hum_ms_drg_age_los['AGE'] = pd.to_numeric(df_hist_sub_hum_ms_drg_age_los['AGE'], errors='coerce').fillna(0)
C:\Users\Arunkumara\AppData\Local\Temp\ipykernel_3676\172421177.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist_sub_hum_ms_drg_age_los['A_MCCCount'] = pd.to_numeric(df_hist_sub_hum_ms_drg_age_los['A_MCCCount'], errors='coerce').fillna(0).astype(int)
C:\Users\Arunkumara\AppData\Local\Temp\ipykernel_3676\172421177.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist_sub_hum_ms_drg_age_los['A_CCCount'] = pd.to_numeric(df_hist_sub_hum_ms_drg_age_los['A_CCCount'], errors='coerce').fillna(0).astype(int)

In [13]:
df_hist_sub_hum_ms_drg_age_los['InitialDeterminationStatus'].value_counts()

InitialDeterminationStatus
Approved    56119
Denied       7942
Name: count, dtype: int64

In [14]:
df1 = df_hist_sub_hum_ms_drg_age_los.copy()

adx_cols = [f"A_DX{i}" for i in range(2, 26)]
apx_cols = [f"A_PX{i}" for i in range(1, 26)]
#bdx_cols = [f"B_DX{i}" for i in range(2, 26)]
#bpx_cols = [f"B_PX{i}" for i in range(1, 26)]

df1["A_DX_List"] = df1[adx_cols].values.tolist()
df1["A_PX_List"] = df1[apx_cols].values.tolist()
#df1["B_DX_List"] = df1[bdx_cols].values.tolist()
#df1["B_PX_List"] = df1[bpx_cols].values.tolist()

df1["A_DX_List"] = df1["A_DX_List"].apply(lambda x: tuple(sorted([i for i in x if pd.notna(i)])))
df1["A_PX_List"] = df1["A_PX_List"].apply(lambda x: tuple(sorted([i for i in x if pd.notna(i)])))
#df1["B_DX_List"] = df1["B_DX_List"].apply(lambda x: tuple(sorted([i for i in x if pd.notna(i)])))
#df1["B_PX_List"] = df1["B_PX_List"].apply(lambda x: tuple(sorted([i for i in x if pd.notna(i)])))

df2 = df1.copy()

def clean_sdx_list(lst):
    cleaned = []
    for item in lst:
        item = str(item).upper().strip()               # normalize
        item = item.replace("- MCC", "")               # remove MCC
        item = item.replace("- CC", "")                # remove CC
        item = item.replace("MCC", "")                 # safety
        item = item.replace("CC", "")                  # safety
        cleaned.append(item.strip().replace("-", ""))  # final cleanup
    return tuple(cleaned)  # convert to tuple

df2["A_DX_List_Clean"] = df2["A_DX_List"].apply(clean_sdx_list)
#df2["B_DX_List_Clean"] = df2["B_DX_List"].apply(clean_sdx_list)

mccandcclist_df = pd.read_excel(r"C:\Users\Arunkumara\Downloads\MCCCCList (1).xlsx")
mccandcclist_df['ICDCode'] = (
    mccandcclist_df['ICDCode']
    .astype(str)
    .str.strip()
    .str.upper()
)
mccandcclist = dict(zip(mccandcclist_df['ICDCode'], mccandcclist_df['MCCorCC']))

def map_sdx_types(icd_list, lookup_dict):
    cleaned_list = []
    for code in icd_list:
        code_clean = str(code).strip().upper()  # normalize

        tag = lookup_dict.get(code_clean, "")  # MCC / CC / General
        cleaned_list.append(f"{code_clean} - {tag}")

    return tuple(cleaned_list)   # convert to tuple

df2['A_DX_Type_list'] = df2['A_DX_List_Clean'].apply(lambda x: map_sdx_types(x, mccandcclist))
#df2['B_DX_Type_list'] = df2['B_DX_List_Clean'].apply(lambda x: map_sdx_types(x, mccandcclist))

def split_px_list(px_list):
    mcc = []
    cc = []
    general = []
    
    for item in px_list:
        parts = item.split('-')
        code = parts[0].strip()
        flag = parts[1].strip() if len(parts) > 1 else ""
        
        if flag == "MCC":
            mcc.append(code)
        elif flag == "CC":
            cc.append(code)
        else:
            general.append(code)
    
    return tuple(mcc), tuple(cc), tuple(general)   # convert to tuple

df2["A_MCC_List"], df2["A_CC_List"], df2["A_General_List"] = zip(*df2["A_DX_Type_list"].apply(split_px_list))
#df2["B_MCC_List"], df2["B_CC_List"], df2["B_General_List"] = zip(*df2["B_DX_Type_list"].apply(split_px_list))

def extract_sdx_info(sdx_list):

    # If list/tuple is empty  return
    if not sdx_list:
        return "No MCC or CC", tuple()

    # Separate entries by type
    mcc = [x.split(" - ")[0] for x in sdx_list if "- MCC" in x]
    cc  = [x.split(" - ")[0] for x in sdx_list if "- CC" in x]
    other = [
        x.split(" - ")[0]
        for x in sdx_list 
        if "- MCC" not in x and "- CC" not in x
    ]

    # Determine type and return tuple
    if mcc:
        return "MCC", tuple(mcc)
    elif cc:
        return "CC", tuple(cc)
    elif other:
        return "No MCC or CC", tuple(other)
    else:
        return "No MCC or CC", tuple()

df2[["A_DX_Type", "A_DX_Set"]] = df2["A_DX_List"].apply(
    lambda x: pd.Series(extract_sdx_info(x))
)

df2['SDX Set'] = df2.apply(
    lambda x: "No MCC or CC" if x['A_DX_Type'] == 'No MCC or CC' else x['A_DX_Set'],
    axis=1
)


"""df2['SDX Set'] = np.where(
    df2['A_DX_Type'].isin(['MCC', 'CC']),
    df2['A_DX_Set'],
    'No MCC or CC'
)"""


#df2[["B_DX_Type", "B_DX_Set"]] = df2["B_DX_List"].apply(
 #   lambda x: pd.Series(extract_sdx_info(x))
#)

"df2['SDX Set'] = np.where(\n    df2['A_DX_Type'].isin(['MCC', 'CC']),\n    df2['A_DX_Set'],\n    'No MCC or CC'\n)"

In [15]:
df2['ADRG'].unique().shape

(604,)

In [16]:
from functools import reduce

common_px_by_adrg = (
    df2
    .groupby('ADRG')['A_PX_List']
    .apply(lambda x: list(reduce(set.intersection, map(set, x))) if len(x) > 1 else [])
    .reset_index(name='Common_PX')
)

#common_px_by_adrg = common_px_by_adrg[common_px_by_adrg['Common_PX'].str.len() > 0]
common_px_by_adrg.shape

(604, 2)

In [17]:
df2 = df2.merge(common_px_by_adrg,how = 'left',on = 'ADRG')
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 64061 entries, 0 to 64060
Columns: 295 entries, Payor to Common_PX
dtypes: Int64(1), float64(1), int64(5), object(288)
memory usage: 144.2+ MB

In [18]:
columns_to_keep = [
    "Payor","claimid","Client","Control_ID","Claim_Number","PaymentType","Group_Type","Payments",
    "Tax_ID","Provider_ID","HospitalName","LOS","DischargeYear","DischargeMonth","AGE",
    "LOB","MRREQ","MRREC","DISP_Code","ADRG","PRIM_DX","A_DX_List","A_PX_List","A_DX_List_Clean",
   "A_DX_Type_list","A_MCC_List","A_CC_List",
    "A_General_List","A_DX_Type", "A_DX_Set","SDX Set","Common_PX",
    "InitialDeterminationDate","InitialDenialType",
    "InitialDeterminationStatus","IDSavings","AdjustedSavings"
]

df_clean = df2[columns_to_keep].copy()
df_clean.head()

,Payor,claimid,Client,Control_ID,Claim_Number,PaymentType,Group_Type,Payments,Tax_ID,Provider_ID,HospitalName,LOS,DischargeYear,DischargeMonth,AGE,LOB,MRREQ,MRREC,DISP_Code,ADRG,PRIM_DX,A_DX_List,A_PX_List,A_DX_List_Clean,A_DX_Type_list,A_MCC_List,A_CC_List,A_General_List,A_DX_Type,A_DX_Set,SDX Set,Common_PX,InitialDeterminationDate,InitialDenialType,InitialDeterminationStatus,IDSavings,AdjustedSavings
0,Strat,791310,Hum,HUPTMR-19212,820232690715794,POSTPAY,01,7815.4300000000003,560554230,000045770H,NOVANT HEALTH PRESBYTERIAN MED,9,2023,9,76,MRO39,2023-12-13 00:00:00,2024-04-16 00:00:00,06-TRNSF TO HOME HEALTH,189,J9601,"(C3491 - CC, C7951 - CC, E1110 - MCC, E1165, E46 - CC, I2609 - MCC, I5022 - CC, I5023 - MCC, J432, J9602 - MCC, J9611 - CC, R042 - CC, R64 - CC, R7401, Z66, Z681 - CC, Z720)","(5A09357,)","(C3491, C7951, E1110, E1165, E46, I2609, I5022, I5023, J432, J9602, J9611, R042, R64, R7401, Z66, Z681, Z720)","(C3491 - CC, C7951 - CC, E1110 - MCC, E1165 - , E46 - CC, I2609 - MCC, I5022 - CC, I5023 - MCC, J432 - , J9602 - MCC, J9611 - CC, R042 - CC, R64 - CC, R7401 - , Z66 - , Z681 - CC, Z720 - )","(E1110, I2609, I5023, J9602)","(C3491, C7951, E46, I5022, J9611, R042, R64, Z681)","(E1165, J432, R7401, Z66, Z720)",MCC,"(E1110, I2609, I5023, J9602)","(E1110, I2609, I5023, J9602)",[],2024-04-23 03:23:47.970000000,Substantive,Approved,0.0,0
1,Strat,818676,Hum,HUPTMR-23423,820233110206416,POSTPAY,01,15539.610000000001,576000934,001825011C,SPARTANBURG REGIONAL MEDICAL C,16,2023,11,63,MEP3I,2024-02-13 00:00:00,2024-04-16 00:00:00,63-TRNSF TO LONG TERM CARE FAC,539,M4626,"(B9562, E785, G061 - MCC, G629, G8929, H9190, I10, K6812 - MCC, M0579, M4646, R5381, R7881 - CC, Z5986, Z79631, Z8614, Z8661, Z86718, Z8673, Z87891)","(02HV33Z, 0K9N3ZZ, 0Q903ZZ)","(B9562, E785, G061, G629, G8929, H9190, I10, K6812, M0579, M4646, R5381, R7881, Z5986, Z79631, Z8614, Z8661, Z86718, Z8673, Z87891)","(B9562 - , E785 - , G061 - MCC, G629 - , G8929 - , H9190 - , I10 - , K6812 - MCC, M0579 - , M4646 - , R5381 - , R7881 - CC, Z5986 - , Z79631 - , Z8614 - , Z8661 - , Z86718 - , Z8673 - , Z87891 - )","(G061, K6812)","(R7881,)","(B9562, E785, G629, G8929, H9190, I10, M0579, M4646, R5381, Z5986, Z79631, Z8614, Z8661, Z86718, Z8673, Z87891)",MCC,"(G061, K6812)","(G061, K6812)",[],2024-04-24 02:41:21.070000000,Substantive,Approved,0.0,0
2,Strat,819586,Hum,HUPTMR-22976,820231970020992,POSTPAY,01,9020.75,381428164,381428164,MCLAREN OAKLAND,7,2023,7,79,MER32,2024-02-13 00:00:00,2024-04-16 00:00:00,01-ROUTINE/HOME,682,I120,"(C787 - CC, C7951 - CC, D631, E1122, E1165, F17210, I161 - CC, J90 - CC, K7210, K7682, K8020, N186 - MCC, R112, R5381, Z7901, Z79899, Z8673, Z992)","(5A1D70Z,)","(C787, C7951, D631, E1122, E1165, F17210, I161, J90, K7210, K7682, K8020, N186, R112, R5381, Z7901, Z79899, Z8673, Z992)","(C787 - CC, C7951 - CC, D631 - , E1122 - , E1165 - , F17210 - , I161 - CC, J90 - CC, K7210 - , K7682 - , K8020 - , N186 - MCC, R112 - , R5381 - , Z7901 - , Z79899 - , Z8673 - , Z992 - )","(N186,)","(C787, C7951, I161, J90)","(D631, E1122, E1165, F17210, K7210, K7682, K8020, R112, R5381, Z7901, Z79899, Z8673, Z992)",MCC,"(N186,)","(N186,)",[],2024-04-23 06:33:12.127000000,Substantive,Approved,0.0,0
3,Strat,832168,Hum,HUPTMR-24604,820232340355670,POSTPAY,01,14704.33,853777599,853777599B,NOVANT NEW HANOVER REGIONAL ME,17,2023,7,69,MEP3I,2024-03-05 00:00:00,2024-04-17 00:00:00,03-TRNSF TO SKILLED NURSING FAC,064,I6340,"(B1920, B9561, D649, E43 - MCC, E861, E8720 - CC, F0154 - CC, F17200, F1910, G319, G910 - CC, G9341 - MCC, I110, I5032 - CC, I76 - CC, M6282 - CC, N179 - CC, N390 - CC, R1310, R32, R64 - CC, R7881 - CC, Z681 - CC)","(02HV33Z, B246ZZ4)","(B1920, B9561, D649, E43, E861, E8720, F0154, F17200, F1910, G319, G910, G9341, I110, I5032, I76, M6282, N179, N390, R1310, R32, R64, R7881, Z681)","(B1920 - , B9561 - , D649 - , E43 - MCC, E861 - , E8720 - , F0154 - , F17200 - , F1910 - , G319 - , G910 - CC, G9341 - MCC, I110 - , I5032 - CC, I76 - CC, M6282 - CC, N179 - CC, N390 - CC, R1310 - , R32 - , R64 - CC, R7881 - CC, Z681 - CC)","(E43, G9341)","(G910, I5032, I76, M6282, N179, N390, R64, R7881, Z681)","(B1920, B9561, D649, E861, E8720, F0154, F17200, F1910, G319, I110, R1310, R32)",MCC,"(E43, G9341)","(E43, G9341)",[],2024-04-24 02:45:31.550000000,Substantive,Approved,0.0,0
4,Strat,832171,Hum,HUPTMR-24728,820232220351457,POSTPAY,01,10356.879999999999,853777599,853777599B,NOVANT NEW HANOVER REGIONAL ME,14,2023,7,79,MGP3I,2024-03-05 00:00:00,2024-04-16 00:00:00,03-TRNSF TO SKILLED NURSING FAC,391,K5720,"(E43 - MCC, E8729 - CC, I10, J439, J90 - CC, J9621 - MCC, J9622 - MCC, J9811 - CC, K219, K632 - CC, K651 - MCC, Z6822, Z713, Z7951, Z7952, Z79899, Z85118, Z853, Z87891, Z881, Z888, Z923)","(0W993ZZ,)","(E43, E8729, I10, J439, J90, J9621, J9622, J9811, K219, K632, K651, Z6822, Z713, Z7951, Z7952, Z79899, Z85118, Z853, Z87891, Z881, Z888, Z923)","(E43 - MCC, E8729 - , I10 - , J439 - , J90 - CC, J9621 - MCC, J9622 - MCC, J9811 - CC, K219 - , K632 - CC, K651 - MCC, Z6822 - , Z713 - , Z7951 - , Z7952 - , Z79899 - , Z85118 - , Z853 - , Z87891 - , Z881 - , Z888 - , Z923 - )","(E43, J9621, J9622, K651)","(J90, J9811, K632)","(E8729, I10, J439, K219, Z6822, Z713, Z7951, Z7952, Z79899, Z85118, Z853, Z87891, Z881, Z888, Z923)",MCC,"(E43, J9621, J9622, K651)","(E43, J9621, J9622, K651)",[],2024-04-23 13:31:20.147000000,Substantive,Approved,0.0,0

In [19]:
surgical_drg = pd.read_excel(r"C:\Users\Arunkumara\Downloads\Surgical_DRG.xlsx")
surgical_drg['DRGCodeID'] = surgical_drg['DRGCodeID'].astype(str)
unique_SUR_frg = surgical_drg[['DRGCodeID']].drop_duplicates()
unique_SUR_frg.info()

<class 'pandas.core.frame.DataFrame'>
Index: 415 entries, 0 to 3080
Data columns (total 1 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   DRGCodeID  415 non-null    object
dtypes: object(1)
memory usage: 6.5+ KB

In [20]:
df_merged_1 = df_clean.merge(
    unique_SUR_frg,
    left_on=["ADRG"],    # columns in df_final
    right_on=["DRGCodeID"],        # columns in df2
    how="left"                      # KEEP ALL rows from df_final
)
df_merged_1.shape

(64061, 38)

In [21]:
df_sur_drg = df_merged_1[~(df_merged_1['DRGCodeID'].isnull())]
df_sur_drg.shape

(11687, 38)

In [22]:
df_sur_drg['InitialDeterminationStatus'].value_counts()

InitialDeterminationStatus
Approved    10754
Denied        933
Name: count, dtype: int64

In [34]:
df_sur_drg.head(1)

,Payor,claimid,Client,Control_ID,Claim_Number,PaymentType,Group_Type,Payments,Tax_ID,Provider_ID,HospitalName,LOS,DischargeYear,DischargeMonth,AGE,LOB,MRREQ,MRREC,DISP_Code,ADRG,PRIM_DX,A_DX_List,A_PX_List,A_DX_List_Clean,A_DX_Type_list,A_MCC_List,A_CC_List,A_General_List,A_DX_Type,A_DX_Set,SDX Set,Common_PX,InitialDeterminationDate,InitialDenialType,InitialDeterminationStatus,IDSavings,AdjustedSavings,DRGCodeID
21,Strat,818171,Hum,HUPTMR-23261,820233350722710,POSTPAY,01,33038.489999999998,560585243,560585243,VIDANT MEDICAL CENTER,8,2023,11,63,MEP3I,2024-02-13 00:00:00,2024-04-10 00:00:00,03-TRNSF TO SKILLED NURSING FAC,853,A4102,"(B9562, D175, D62 - CC, E039, E6601, I10, I872, K265 - MCC, K429, K683, L97229 - CC, M7981, N179 - CC, R17 - CC, R6520 - MCC, Z6841 - CC, Z791, Z79891, Z79899, Z87442, Z880, Z96642, Z96653)","(02HV33Z, 0DB90ZX, 0DBV0ZZ, 0DTJ0ZZ, 0DU907Z)","(B9562, D175, D62, E039, E6601, I10, I872, K265, K429, K683, L97229, M7981, N179, R17, R6520, Z6841, Z791, Z79891, Z79899, Z87442, Z880, Z96642, Z96653)","(B9562 - , D175 - , D62 - CC, E039 - , E6601 - , I10 - , I872 - , K265 - MCC, K429 - , K683 - , L97229 - CC, M7981 - , N179 - CC, R17 - CC, R6520 - MCC, Z6841 - CC, Z791 - , Z79891 - , Z79899 - , Z87442 - , Z880 - , Z96642 - , Z96653 - )","(K265, R6520)","(D62, L97229, N179, R17, Z6841)","(B9562, D175, E039, E6601, I10, I872, K429, K683, M7981, Z791, Z79891, Z79899, Z87442, Z880, Z96642, Z96653)",MCC,"(K265, R6520)","(K265, R6520)",[],2024-04-25 10:36:08.827000000,Substantive,Approved,0.0,0,853

In [65]:
import pandas as pd

df = df_sur_drg.copy()

# Fix datatype
df["Payments"] = pd.to_numeric(df["Payments"], errors="coerce")
df["IDSavings"] = pd.to_numeric(df["IDSavings"], errors="coerce")

df["SDX Set"] = df["SDX Set"].apply(lambda x: tuple(x) if isinstance(x, list) else x)
df["Common_PX"] = df["Common_PX"].apply(lambda x: tuple(x) if isinstance(x, list) else x)

# 1 Base Aggregation
df_group = df.groupby(["Provider_ID"]).agg(
    tot_claims=("InitialDeterminationStatus", "count"),
    app_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    den_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    tot_payments=("Payments", "sum"),
    avg_payments=("Payments", "mean"),
    #max_payments=("Payments", "max"),
    #min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# 2 % Denied
df_group["per_app"] = (
    df_group["app_count"] / df_group["tot_claims"] * 100
).round(2)

df_group["per_den"] = (
    df_group["den_count"] / df_group["tot_claims"] * 100
).round(2)

# 3 Denied-only aggregation
denied_stats = df[df["InitialDeterminationStatus"] == "Denied"].groupby(
    ["Provider_ID"]
).agg(
    den_tot_payments=("Payments", "sum"),
    den_avg_payments=("Payments", "mean"),
    den_avg_saving=("IDSavings", "mean"),
    den_tot_saving=("IDSavings", "sum")
).reset_index()

# 4 Merge
df_group = df_group.merge(denied_stats, on=["Provider_ID"], how="left")

# 5 Sorting
df_group = df_group.sort_values(by="den_count", ascending=False).reset_index(drop=True)

cols = [
    'tot_payments',
    'avg_payments',
    'per_app',
    'per_den',
    'den_tot_payments',
    'den_avg_payments',
    'den_avg_saving',
    'den_tot_saving'
]

df_group[cols] = df_group[cols].round(2)


df_group.to_excel("Sur_DRG_Provider.xlsx")
df_group.head(15)

,Provider_ID,tot_claims,app_count,den_count,tot_payments,avg_payments,per_app,per_den,den_tot_payments,den_avg_payments,den_avg_saving,den_tot_saving
0,730700090,52,36,16,927477.21,17836.10,69.23,30.77,265378.49,16586.16,6643.41,106294.49
1,000059420E,155,146,9,3687711.92,23791.69,94.19,5.81,247501.88,27500.21,10216.83,91951.51
2,800818718,36,28,8,1289265.79,35812.94,77.78,22.22,309469.78,38683.72,15530.14,124241.12
3,000104720F,42,34,8,959075.04,22835.12,80.95,19.05,213709.81,26713.73,7930.45,63443.62
4,560585243,43,35,8,1121638.78,26084.62,81.40,18.60,257541.41,32192.68,14002.75,112022.02
5,000061694I,59,52,7,1625814.27,27556.17,88.14,11.86,126093.54,18013.36,8593.74,60156.16
6,000090250B,83,76,7,1960839.50,23624.57,91.57,8.43,201480.09,28782.87,3830.03,26810.19
7,582190713N,23,17,6,478412.62,20800.55,73.91,26.09,168742.56,28123.76,7833.35,47000.12
8,730579286,27,21,6,524312.84,19418.99,77.78,22.22,117921.32,19653.55,8740.53,52443.18
9,000190356A,52,46,6,1014171.26,19503.29,88.46,11.54,161015.33,26835.89,7945.60,47673.57
10,000021832C,75,69,6,1603690.97,21382.55,92.00,8.00,105842.11,17640.35,5169.36,31016.16
11,853777599B,80,74,6,2293761.88,28672.02,92.50,7.50,211741.96,35290.33,10501.84,63011.07
12,000098152D,42,36,6,1236873.36,29449.37,85.71,14.29,195577.25,32596.21,8535.21,51211.28
13,381360584,71,65,6,1682909.38,23702.95,91.55,8.45,184649.21,30774.87,7990.17,47941.03
14,581123037T,65,60,5,1716784.11,26412.06,92.31,7.69,113194.86,22638.97,7863.47,39317.35

In [66]:
import pandas as pd

df = df_sur_drg.copy()

# Fix datatype
df["Payments"] = pd.to_numeric(df["Payments"], errors="coerce")
df["IDSavings"] = pd.to_numeric(df["IDSavings"], errors="coerce")

df["SDX Set"] = df["SDX Set"].apply(lambda x: tuple(x) if isinstance(x, list) else x)
df["Common_PX"] = df["Common_PX"].apply(lambda x: tuple(x) if isinstance(x, list) else x)

# 1 Base Aggregation
df_group = df.groupby(["ADRG"]).agg(
    tot_claims=("InitialDeterminationStatus", "count"),
    app_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    den_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    tot_payments=("Payments", "sum"),
    avg_payments=("Payments", "mean"),
    #max_payments=("Payments", "max"),
    #min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# 2 % Denied
df_group["per_app"] = (
    df_group["app_count"] / df_group["tot_claims"] * 100
).round(2)

df_group["per_den"] = (
    df_group["den_count"] / df_group["tot_claims"] * 100
).round(2)

# 3 Denied-only aggregation
denied_stats = df[df["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG"]
).agg(
    den_tot_payments=("Payments", "sum"),
    den_avg_payments=("Payments", "mean"),
    den_avg_saving=("IDSavings", "mean"),
    den_tot_saving=("IDSavings", "sum")
).reset_index()

# 4 Merge
df_group = df_group.merge(denied_stats, on=["ADRG"], how="left")

# 5 Sorting
df_group = df_group.sort_values(by="per_den", ascending=False).reset_index(drop=True)

cols = [
    'tot_payments',
    'avg_payments',
    'per_app',
    'per_den',
    'den_tot_payments',
    'den_avg_payments',
    'den_avg_saving',
    'den_tot_saving'
]

df_group[cols] = df_group[cols].round(2)


df_group.to_excel("Sur_DRG_DRG.xlsx")
df_group.head(15)

,ADRG,tot_claims,app_count,den_count,tot_payments,avg_payments,per_app,per_den,den_tot_payments,den_avg_payments,den_avg_saving,den_tot_saving
0,970,1,0,1,16758.54,16758.54,0.00,100.00,16758.54,16758.54,5022.60,5022.60
1,263,2,0,2,48040.01,24020.00,0.00,100.00,48040.01,24020.00,2916.61,5833.22
2,854,196,87,109,2696859.56,13759.49,44.39,55.61,1448114.78,13285.46,3016.57,328806.50
3,662,2,1,1,38575.73,19287.86,50.00,50.00,19165.95,19165.95,8948.35,8948.35
4,625,2,1,1,48998.84,24499.42,50.00,50.00,16589.46,16589.46,6776.49,6776.49
5,822,2,1,1,16225.85,8112.92,50.00,50.00,8493.73,8493.73,2294.09,2294.09
6,853,980,576,404,34539160.40,35244.04,58.78,41.22,13979485.98,34602.69,10082.42,4073298.06
7,113,3,2,1,51055.25,17018.42,66.67,33.33,18089.21,18089.21,8811.08,8811.08
8,333,4,3,1,60659.05,15164.76,75.00,25.00,12747.58,12747.58,3027.25,3027.25
9,666,13,10,3,160451.43,12342.42,76.92,23.08,41696.16,13898.72,587.20,1761.61
10,140,18,14,4,647876.48,35993.14,77.78,22.22,121939.61,30484.90,8428.36,33713.42
11,786,35,28,7,238599.25,6817.12,80.00,20.00,58483.61,8354.80,3280.88,22966.15
12,828,5,4,1,54506.53,10901.31,80.00,20.00,12703.82,12703.82,1980.87,1980.87
13,485,38,31,7,870006.21,22894.90,81.58,18.42,157493.22,22499.03,8619.20,60334.42
14,507,6,5,1,73237.08,12206.18,83.33,16.67,9631.03,9631.03,2433.52,2433.52

In [67]:
import pandas as pd

df = df_sur_drg.copy()

# Fix datatype
df["Payments"] = pd.to_numeric(df["Payments"], errors="coerce")
df["IDSavings"] = pd.to_numeric(df["IDSavings"], errors="coerce")

df["SDX Set"] = df["SDX Set"].apply(lambda x: tuple(x) if isinstance(x, list) else x)
df["Common_PX"] = df["Common_PX"].apply(lambda x: tuple(x) if isinstance(x, list) else x)

# 1 Base Aggregation
df_group = df.groupby(["Provider_ID","ADRG"]).agg(
    tot_claims=("InitialDeterminationStatus", "count"),
    app_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    den_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    tot_payments=("Payments", "sum"),
    avg_payments=("Payments", "mean"),
    #max_payments=("Payments", "max"),
    #min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# 2 % Denied
df_group["per_app"] = (
    df_group["app_count"] / df_group["tot_claims"] * 100
).round(2)

df_group["per_den"] = (
    df_group["den_count"] / df_group["tot_claims"] * 100
).round(2)

# 3 Denied-only aggregation
denied_stats = df[df["InitialDeterminationStatus"] == "Denied"].groupby(
    ["Provider_ID","ADRG"]
).agg(
    den_tot_payments=("Payments", "sum"),
    den_avg_payments=("Payments", "mean"),
    den_avg_saving=("IDSavings", "mean"),
    den_tot_saving=("IDSavings", "sum")
).reset_index()

# 4 Merge
df_group = df_group.merge(denied_stats, on=["Provider_ID","ADRG"], how="left")

# 5 Sorting
df_group = df_group.sort_values(by="den_count", ascending=False).reset_index(drop=True)

cols = [
    'tot_payments',
    'avg_payments',
    'per_app',
    'per_den',
    'den_tot_payments',
    'den_avg_payments',
    'den_avg_saving',
    'den_tot_saving'
]

df_group[cols] = df_group[cols].round(2)


df_group.to_excel("Sur_DRG_Provider_DRG.xlsx")
df_group.head(15)

,Provider_ID,ADRG,tot_claims,app_count,den_count,tot_payments,avg_payments,per_app,per_den,den_tot_payments,den_avg_payments,den_avg_saving,den_tot_saving
0,560585243,853,16,9,7,542917.09,33932.32,56.25,43.75,232156.48,33165.21,14949.10,104643.73
1,730700090,853,10,4,6,278179.14,27817.91,40.00,60.00,157582.38,26263.73,10075.52,60453.14
2,000104720F,853,9,4,5,295864.04,32873.78,44.44,55.56,162446.95,32489.39,8634.91,43174.56
3,000198194,853,8,3,5,262585.21,32823.15,37.50,62.50,164021.98,32804.40,11463.56,57317.81
4,381360584,853,9,4,5,311177.48,34575.28,44.44,55.56,168311.12,33662.22,7919.56,39597.80
5,000098152D,853,8,3,5,292043.13,36505.39,37.50,62.50,182660.40,36532.08,8584.62,42923.09
6,580568702A,853,6,1,5,180585.87,30097.64,16.67,83.33,152121.62,30424.32,5346.30,26731.50
7,582190713N,853,5,0,5,143387.42,28677.48,0.00,100.00,143387.42,28677.48,6899.37,34496.86
8,640881013,853,5,0,5,156183.91,31236.78,0.00,100.00,156183.91,31236.78,15108.10,75540.50
9,000028386L,853,7,3,4,219682.67,31383.24,42.86,57.14,126243.00,31560.75,8432.47,33729.88
10,000066600C,853,8,4,4,236370.26,29546.28,50.00,50.00,108742.14,27185.54,10534.98,42139.90
11,000059420E,853,19,15,4,660571.10,34766.90,78.95,21.05,141817.33,35454.33,12019.50,48078.00
12,593458145N,853,5,1,4,218625.85,43725.17,20.00,80.00,127288.88,31822.22,9654.05,38616.21
13,710236917,853,4,0,4,122753.26,30688.32,0.00,100.00,122753.26,30688.32,5724.67,22898.66
14,800818718,853,4,0,4,164256.65,41064.16,0.00,100.00,164256.65,41064.16,19957.31,79829.25

In [23]:
import pandas as pd

df = df_sur_drg.copy()

# Fix datatype
df["Payments"] = pd.to_numeric(df["Payments"], errors="coerce")
df["IDSavings"] = pd.to_numeric(df["IDSavings"], errors="coerce")

df["SDX Set"] = df["SDX Set"].apply(lambda x: tuple(x) if isinstance(x, list) else x)
df["Common_PX"] = df["Common_PX"].apply(lambda x: tuple(x) if isinstance(x, list) else x)

# 1 Base Aggregation
df_group = df.groupby(["ADRG","PRIM_DX","SDX Set","Common_PX"]).agg(
    tot_claims=("InitialDeterminationStatus", "count"),
    app_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    den_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    tot_payments=("Payments", "sum"),
    avg_payments=("Payments", "mean"),
    #max_payments=("Payments", "max"),
    #min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# 2 % Denied
df_group["per_app"] = (
    df_group["app_count"] / df_group["tot_claims"] * 100
).round(2)

df_group["per_den"] = (
    df_group["den_count"] / df_group["tot_claims"] * 100
).round(2)

# 3 Denied-only aggregation
denied_stats = df[df["InitialDeterminationStatus"] == "Denied"].groupby(
    ["ADRG","PRIM_DX","SDX Set","Common_PX"]
).agg(
    den_tot_payments=("Payments", "sum"),
    den_avg_payments=("Payments", "mean"),
    den_avg_saving=("IDSavings", "mean"),
    den_tot_saving=("IDSavings", "sum")
).reset_index()

# 4 Merge
df_group = df_group.merge(denied_stats, on=["ADRG","PRIM_DX","SDX Set","Common_PX"], how="left")

# 5 Sorting
df_group = df_group.sort_values(by="den_count", ascending=False).reset_index(drop=True)

cols = [
    'tot_payments',
    'avg_payments',
    'per_app',
    'per_den',
    'den_tot_payments',
    'den_avg_payments',
    'den_avg_saving',
    'den_tot_saving'
]

df_group[cols] = df_group[cols].round(2)


df_group.to_excel("Sur_DRG_PDX_SDX_PX.xlsx")
df_group.head(15)

,ADRG,PRIM_DX,SDX Set,Common_PX,tot_claims,app_count,den_count,tot_payments,avg_payments,per_app,per_den,den_tot_payments,den_avg_payments,den_avg_saving,den_tot_saving
0,854,A419,"(R6520,)",(),28,14,14,442534.25,15804.79,50.00,50.00,193150.16,13796.44,2132.00,29847.93
1,853,A419,"(N186,)",(),13,2,11,381889.27,29376.10,15.38,84.62,324314.31,29483.12,12148.43,133632.70
2,853,A419,No MCC or CC,(),6,2,4,222834.95,37139.16,33.33,66.67,140523.78,35130.94,12510.39,50041.55
3,853,A419,"(G9341, R6520)",(),5,1,4,172835.69,34567.14,20.00,80.00,138087.35,34521.84,17797.94,71191.76
4,853,A419,"(G9341, N186)",(),5,1,4,188892.80,37778.56,20.00,80.00,138102.56,34525.64,4386.78,17547.12
5,853,A419,"(J9601, R6520)",(),5,1,4,156515.29,31303.06,20.00,80.00,126696.75,31674.19,15620.69,62482.77
6,853,A419,"(J189,)",(),5,1,4,124949.17,24989.83,20.00,80.00,124915.61,31228.90,17770.10,71080.41
7,853,A419,"(M726,)",(),3,0,3,109462.73,36487.58,0.00,100.00,109462.73,36487.58,14447.44,43342.33
8,853,A419,"(E43,)",(),2,0,2,62822.84,31411.42,0.00,100.00,62822.84,31411.42,11308.61,22617.22
9,854,A4101,"(R6520,)",(),2,0,2,27854.22,13927.11,0.00,100.00,27854.22,13927.11,392.29,784.58
10,853,A419,"(N186, R6520)",(),2,0,2,69456.50,34728.25,0.00,100.00,69456.50,34728.25,11534.40,23068.80
11,896,F10129,"(G9341, J9601)",(),2,0,2,27874.21,13937.10,0.00,100.00,27874.21,13937.10,3693.06,7386.11
12,853,A419,"(K8510, R6520)",(),2,0,2,56208.13,28104.06,0.00,100.00,56208.13,28104.06,19145.92,38291.85
13,853,A419,"(J189, J869, J9601)",(),2,0,2,61111.95,30555.98,0.00,100.00,61111.95,30555.98,368.54,737.07
14,853,A419,"(A480, M726)",(),2,0,2,69518.79,34759.40,0.00,100.00,69518.79,34759.40,4161.38,8322.75

In [69]:
import pandas as pd

df = df_sur_drg.copy()

# Fix datatype
df["Payments"] = pd.to_numeric(df["Payments"], errors="coerce")
df["IDSavings"] = pd.to_numeric(df["IDSavings"], errors="coerce")

df["SDX Set"] = df["SDX Set"].apply(lambda x: tuple(x) if isinstance(x, list) else x)
df["Common_PX"] = df["Common_PX"].apply(lambda x: tuple(x) if isinstance(x, list) else x)

# 1 Base Aggregation
df_group = df.groupby(["Provider_ID","ADRG","PRIM_DX","SDX Set","Common_PX"]).agg(
    tot_claims=("InitialDeterminationStatus", "count"),
    app_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    den_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    tot_payments=("Payments", "sum"),
    avg_payments=("Payments", "mean"),
    #max_payments=("Payments", "max"),
    #min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# 2 % Denied
df_group["per_app"] = (
    df_group["app_count"] / df_group["tot_claims"] * 100
).round(2)

df_group["per_den"] = (
    df_group["den_count"] / df_group["tot_claims"] * 100
).round(2)

# 3 Denied-only aggregation
denied_stats = df[df["InitialDeterminationStatus"] == "Denied"].groupby(
    ["Provider_ID","ADRG","PRIM_DX","SDX Set","Common_PX"]
).agg(
    den_tot_payments=("Payments", "sum"),
    den_avg_payments=("Payments", "mean"),
    den_avg_saving=("IDSavings", "mean"),
    den_tot_saving=("IDSavings", "sum")
).reset_index()

# 4 Merge
df_group = df_group.merge(denied_stats, on=["Provider_ID","ADRG","PRIM_DX","SDX Set","Common_PX"], how="left")

# 5 Sorting
df_group = df_group.sort_values(by="den_count", ascending=False).reset_index(drop=True)

cols = [
    'tot_payments',
    'avg_payments',
    'per_app',
    'per_den',
    'den_tot_payments',
    'den_avg_payments',
    'den_avg_saving',
    'den_tot_saving'
]

df_group[cols] = df_group[cols].round(2)


df_group.to_excel("Sur_DRG_Provider_PDX_SDX_PX.xlsx")
df_group.head(15)

,Provider_ID,ADRG,PRIM_DX,SDX Set,Common_PX,tot_claims,app_count,den_count,tot_payments,avg_payments,per_app,per_den,den_tot_payments,den_avg_payments,den_avg_saving,den_tot_saving
0,000090250B,235,I25110,"(J951, R570)",(),3,1,2,66611.82,22203.94,33.33,66.67,44407.88,22203.94,663.21,1326.42
1,000066600C,853,A419,"(N186,)",(),2,0,2,43070.15,21535.08,0.00,100.00,43070.15,21535.08,9933.07,19866.14
2,000062139B,853,A419,"(K280, K5721, K659)",(),1,0,1,31378.61,31378.61,0.00,100.00,31378.61,31378.61,3085.17,3085.17
3,230596940N,853,A419,"(I5023, N170)",(),1,0,1,36877.71,36877.71,0.00,100.00,36877.71,36877.71,1417.01,1417.01
4,000209850T,854,A419,"(N136, N179)",(),1,0,1,14281.01,14281.01,0.00,100.00,14281.01,14281.01,6478.33,6478.33
5,198227,854,A4102,"(R6520,)",(),1,0,1,13753.97,13753.97,0.00,100.00,13753.97,13753.97,757.68,757.68
6,204993360,853,A419,"(R578, R6521)",(),1,0,1,39662.70,39662.70,0.00,100.00,39662.70,39662.70,12775.26,12775.26
7,232238976C,853,A419,"(J9601, K631, K6819, N186)",(),1,0,1,37329.16,37329.16,0.00,100.00,37329.16,37329.16,2866.57,2866.57
8,000045982J,480,S72001A,"(G9341, J690, J9601)",(),1,0,1,17531.59,17531.59,0.00,100.00,17531.59,17531.59,5162.91,5162.91
9,000062144C,853,A4189,"(J1282, N170, R6520, U071)",(),1,0,1,34928.42,34928.42,0.00,100.00,34928.42,34928.42,6807.45,6807.45
10,010211501,853,A419,"(J180, J860, J9621)",(),1,0,1,33181.89,33181.89,0.00,100.00,33181.89,33181.89,1968.74,1968.74
11,000210764,853,A4151,"(I5023, J189, J690, J9601)",(),1,0,1,32429.69,32429.69,0.00,100.00,32429.69,32429.69,14359.67,14359.67
12,000241678G,398,K3532,"(E8720, R188)",(),1,0,1,12197.40,12197.40,0.00,100.00,12197.40,12197.40,2895.14,2895.14
13,000098152B,163,I2699,"(I214, I21A1, I2609, J9601)",(),1,0,1,13820.16,13820.16,0.00,100.00,13820.16,13820.16,4727.02,4727.02
14,000059435D,853,A419,"(I5033, J9601)",(),1,0,1,33762.93,33762.93,0.00,100.00,33762.93,33762.93,11081.73,11081.73

In [57]:
import numpy as np

df_sur_drg["LOS_bin"] = np.select(
    [
        df_sur_drg["LOS"] <= 3,
        (df_sur_drg["LOS"] >= 4) & (df_sur_drg["LOS"] <= 30),
        df_sur_drg["LOS"] >= 31
    ],
    [
        df_sur_drg["LOS"].astype(str),
        (
            (4 + ((df_sur_drg["LOS"] - 4) // 3) * 3).astype(str)
            + "-"
            + (6 + ((df_sur_drg["LOS"] - 4) // 3) * 3).astype(str)
        ),
        "31+"
    ]
)

C:\Users\Arunkumara\AppData\Local\Temp\ipykernel_12440\1955797829.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sur_drg["LOS_bin"] = np.select(

In [70]:
import pandas as pd

df = df_sur_drg.copy()

# Fix datatype
df["Payments"] = pd.to_numeric(df["Payments"], errors="coerce")
df["IDSavings"] = pd.to_numeric(df["IDSavings"], errors="coerce")

df["SDX Set"] = df["SDX Set"].apply(lambda x: tuple(x) if isinstance(x, list) else x)
df["Common_PX"] = df["Common_PX"].apply(lambda x: tuple(x) if isinstance(x, list) else x)

# 1 Base Aggregation
df_group = df.groupby(["LOS_bin"]).agg(
    tot_claims=("InitialDeterminationStatus", "count"),
    app_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    den_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    tot_payments=("Payments", "sum"),
    avg_payments=("Payments", "mean"),
    #max_payments=("Payments", "max"),
    #min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# 2 % Denied
df_group["per_app"] = (
    df_group["app_count"] / df_group["tot_claims"] * 100
).round(2)

df_group["per_den"] = (
    df_group["den_count"] / df_group["tot_claims"] * 100
).round(2)

# 3 Denied-only aggregation
denied_stats = df[df["InitialDeterminationStatus"] == "Denied"].groupby(
    ["LOS_bin"]
).agg(
    den_tot_payments=("Payments", "sum"),
    den_avg_payments=("Payments", "mean"),
    den_avg_saving=("IDSavings", "mean"),
    den_tot_saving=("IDSavings", "sum")
).reset_index()

# 4 Merge
df_group = df_group.merge(denied_stats, on=["LOS_bin"], how="left")

# 5 Sorting
df_group = df_group.sort_values(by="per_den", ascending=False).reset_index(drop=True)

cols = [
    'tot_payments',
    'avg_payments',
    'per_app',
    'per_den',
    'den_tot_payments',
    'den_avg_payments',
    'den_avg_saving',
    'den_tot_saving'
]

df_group[cols] = df_group[cols].round(2)
df_group.to_excel("Sur_DRG_los.xlsx")
df_group.head(15)

,LOS_bin,tot_claims,app_count,den_count,tot_payments,avg_payments,per_app,per_den,den_tot_payments,den_avg_payments,den_avg_saving,den_tot_saving
0,22-24,344,248,96,11648442.01,33861.75,72.09,27.91,3192464.30,33254.84,9006.79,864651.71
1,25-27,188,148,40,6728802.39,35791.50,78.72,21.28,1298209.03,32455.23,9342.78,373711.06
2,19-21,565,466,99,18569371.46,32866.14,82.48,17.52,3224025.94,32565.92,8776.74,868897.18
3,31+,238,200,38,9817535.90,41250.15,84.03,15.97,1302829.31,34284.98,9384.90,356626.24
4,28-30,125,107,18,4887322.86,39098.58,85.60,14.40,608160.88,33786.72,8575.20,154353.56
5,16-18,871,750,121,26666411.06,30615.86,86.11,13.89,3649732.75,30163.08,9596.01,1161117.23
6,13-15,1144,1053,91,34028368.75,29745.08,92.05,7.95,2589246.16,28453.25,9368.58,852540.33
7,2,662,616,46,11645047.06,17590.71,93.05,6.95,738271.53,16049.38,4982.37,229189.16
8,3,770,722,48,14347209.82,18632.74,93.77,6.23,976354.81,20340.73,8675.81,416438.94
9,4-6,2501,2364,137,52557480.96,21014.59,94.52,5.48,2986000.05,21795.62,8019.54,1098677.31
10,10-12,1396,1320,76,37025323.81,26522.44,94.56,5.44,2004494.16,26374.92,8599.23,653541.59
11,7-9,1981,1885,96,46758583.58,23603.53,95.15,4.85,2382861.77,24821.48,8899.56,854357.65
12,1,665,642,23,11208989.55,16855.62,96.54,3.46,516644.27,22462.79,7010.92,161251.11
13,0,237,233,4,3751318.81,15828.35,98.31,1.69,66038.58,16509.64,3631.25,14525.00

In [71]:
import pandas as pd

df = df_sur_drg.copy()

# Fix datatype
df["Payments"] = pd.to_numeric(df["Payments"], errors="coerce")
df["IDSavings"] = pd.to_numeric(df["IDSavings"], errors="coerce")

df["SDX Set"] = df["SDX Set"].apply(lambda x: tuple(x) if isinstance(x, list) else x)
df["Common_PX"] = df["Common_PX"].apply(lambda x: tuple(x) if isinstance(x, list) else x)

# 1 Base Aggregation
df_group = df.groupby(["Provider_ID","LOS_bin"]).agg(
    tot_claims=("InitialDeterminationStatus", "count"),
    app_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    den_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    tot_payments=("Payments", "sum"),
    avg_payments=("Payments", "mean"),
    #max_payments=("Payments", "max"),
    #min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# 2 % Denied
df_group["per_app"] = (
    df_group["app_count"] / df_group["tot_claims"] * 100
).round(2)

df_group["per_den"] = (
    df_group["den_count"] / df_group["tot_claims"] * 100
).round(2)

# 3 Denied-only aggregation
denied_stats = df[df["InitialDeterminationStatus"] == "Denied"].groupby(
    ["Provider_ID","LOS_bin"]
).agg(
    den_tot_payments=("Payments", "sum"),
    den_avg_payments=("Payments", "mean"),
    den_avg_saving=("IDSavings", "mean"),
    den_tot_saving=("IDSavings", "sum")
).reset_index()

# 4 Merge
df_group = df_group.merge(denied_stats, on=["Provider_ID","LOS_bin"], how="left")

# 5 Sorting
df_group = df_group.sort_values(by="den_count", ascending=False).reset_index(drop=True)

cols = [
    'tot_payments',
    'avg_payments',
    'per_app',
    'per_den',
    'den_tot_payments',
    'den_avg_payments',
    'den_avg_saving',
    'den_tot_saving'
]

df_group[cols] = df_group[cols].round(2)


df_group.to_excel("Sur_DRG_Provider_los.xlsx")
df_group.head(15)

,Provider_ID,LOS_bin,tot_claims,app_count,den_count,tot_payments,avg_payments,per_app,per_den,den_tot_payments,den_avg_payments,den_avg_saving,den_tot_saving
0,000090250B,4-6,26,22,4,488183.65,18776.29,84.62,15.38,93917.87,23479.47,4192.47,16769.89
1,730700090,2,8,4,4,102157.09,12769.64,50.00,50.00,55029.36,13757.34,6346.73,25386.93
2,000066600C,13-15,10,7,3,220629.40,22062.94,70.00,30.00,55720.51,18573.50,7339.24,22017.71
3,000061694I,2,10,7,3,144259.69,14425.97,70.00,30.00,36512.09,12170.70,4475.01,13425.03
4,730700090,10-12,5,2,3,107420.27,21484.05,40.00,60.00,36754.67,12251.56,2506.30,7518.89
5,730700090,4-6,13,10,3,161601.82,12430.91,76.92,23.08,57576.24,19192.08,7765.69,23297.07
6,736048282,4-6,5,2,3,95459.80,19091.96,40.00,60.00,58224.94,19408.31,10737.87,32213.60
7,800818718,4-6,9,6,3,233454.41,25939.38,66.67,33.33,92144.41,30714.80,12701.89,38105.68
8,272844767,16-18,3,1,2,101374.92,33791.64,33.33,66.67,60638.51,30319.25,10462.83,20925.66
9,000104720F,31+,2,0,2,65963.44,32981.72,0.00,100.00,65963.44,32981.72,11453.97,22907.94
10,000021832C,2,5,3,2,80984.83,16196.97,60.00,40.00,21083.22,10541.61,4309.48,8618.96
11,000021832C,3,7,5,2,134065.19,19152.17,71.43,28.57,42062.35,21031.18,3201.05,6402.10
12,000070893B,4-6,4,2,2,59188.27,14797.07,50.00,50.00,32247.62,16123.81,9365.78,18731.56
13,000258619B,4-6,10,8,2,265147.87,26514.79,80.00,20.00,80644.24,40322.12,21716.61,43433.21
14,000060303R,13-15,4,2,2,110164.37,27541.09,50.00,50.00,48311.08,24155.54,4587.99,9175.98

In [ ]:
# Find maximum LOS
max_los = df_sur_drg["AGE"].max()

# Create bins of size 10 directly from 0 to max
bins = list(range(0, int(max_los) + 10 + 1, 10))  # 0,10,20,30,... up to max

# Create labels for each bin
labels = [f"{bins[i]}-{bins[i+1]}" for i in range(len(bins)-1)]

# Assign LOS bins
df_sur_drg["AGE_Bin"] = pd.cut(
    df_sur_drg["AGE"],
    bins=bins,
    labels=labels,
    include_lowest=True,
    right=False
)
df_sur_drg.shape

C:\Users\Arunkumara\AppData\Local\Temp\ipykernel_12440\1867260770.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_sur_drg["AGE_Bin"] = pd.cut(

(11687, 40)

In [72]:
import pandas as pd

df = df_sur_drg.copy()

# Fix datatype
df["Payments"] = pd.to_numeric(df["Payments"], errors="coerce")
df["IDSavings"] = pd.to_numeric(df["IDSavings"], errors="coerce")

df["SDX Set"] = df["SDX Set"].apply(lambda x: tuple(x) if isinstance(x, list) else x)
df["Common_PX"] = df["Common_PX"].apply(lambda x: tuple(x) if isinstance(x, list) else x)

# 1 Base Aggregation
df_group = df.groupby(["AGE_Bin"]).agg(
    tot_claims=("InitialDeterminationStatus", "count"),
    app_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    den_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    tot_payments=("Payments", "sum"),
    avg_payments=("Payments", "mean"),
    #max_payments=("Payments", "max"),
    #min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# 2 % Denied
df_group["per_app"] = (
    df_group["app_count"] / df_group["tot_claims"] * 100
).round(2)

df_group["per_den"] = (
    df_group["den_count"] / df_group["tot_claims"] * 100
).round(2)

# 3 Denied-only aggregation
denied_stats = df[df["InitialDeterminationStatus"] == "Denied"].groupby(
    ["AGE_Bin"]
).agg(
    den_tot_payments=("Payments", "sum"),
    den_avg_payments=("Payments", "mean"),
    den_avg_saving=("IDSavings", "mean"),
    den_tot_saving=("IDSavings", "sum")
).reset_index()

# 4 Merge
df_group = df_group.merge(denied_stats, on=["AGE_Bin"], how="left")

# 5 Sorting
df_group = df_group.sort_values(by="den_count", ascending=False).reset_index(drop=True)

cols = [
    'tot_payments',
    'avg_payments',
    'per_app',
    'per_den',
    'den_tot_payments',
    'den_avg_payments',
    'den_avg_saving',
    'den_tot_saving'
]

df_group[cols] = df_group[cols].round(2)


df_group.to_excel("Sur_DRG_age.xlsx")
df_group.head(15)

C:\Users\Arunkumara\AppData\Local\Temp\ipykernel_12440\1609533364.py:13: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_group = df.groupby(["AGE_Bin"]).agg(
C:\Users\Arunkumara\AppData\Local\Temp\ipykernel_12440\1609533364.py:34: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  denied_stats = df[df["InitialDeterminationStatus"] == "Denied"].groupby(

,AGE_Bin,tot_claims,app_count,den_count,tot_payments,avg_payments,per_app,per_den,den_tot_payments,den_avg_payments,den_avg_saving,den_tot_saving
0,70-80,4200,3870,330,1.060727e+08,25255.41,92.14,7.86,9198799.19,27875.15,9001.03,2970340.84
1,60-70,3179,2935,244,8.091812e+07,25453.95,92.32,7.68,6971441.96,28571.48,8881.57,2167102.62
2,80-90,2349,2177,172,5.858046e+07,24938.47,92.68,7.32,4802107.60,27919.23,8412.08,1446878.45
3,50-60,891,806,85,2.144824e+07,24072.09,90.46,9.54,2336515.50,27488.42,9027.39,767328.50
4,40-50,355,319,36,8.152618e+06,22965.12,89.86,10.14,808426.04,22456.28,7138.66,256991.88
5,90-100,444,410,34,1.027566e+07,23143.38,92.34,7.66,903706.46,26579.60,7237.90,246088.45
6,30-40,178,159,19,3.013344e+06,16928.90,89.33,10.67,319126.43,16796.13,7135.62,135576.83
7,20-30,71,60,11,7.698701e+05,10843.24,84.51,15.49,158898.03,14445.28,4800.70,52807.69
8,10-20,5,4,1,7.462664e+04,14925.33,80.00,20.00,4273.48,4273.48,1288.73,1288.73
9,100-110,11,10,1,2.853958e+05,25945.07,90.91,9.09,32038.85,32038.85,15474.08,15474.08
10,0-10,3,3,0,2.436916e+04,8123.05,100.00,0.00,0.00,NaN,NaN,0.00
11,110-120,0,0,0,0.000000e+00,NaN,NaN,NaN,0.00,NaN,NaN,0.00
12,120-130,1,1,0,2.478072e+04,24780.72,100.00,0.00,0.00,NaN,NaN,0.00

In [73]:
import pandas as pd

df = df_sur_drg.copy()

# Fix datatype
df["Payments"] = pd.to_numeric(df["Payments"], errors="coerce")
df["IDSavings"] = pd.to_numeric(df["IDSavings"], errors="coerce")

df["SDX Set"] = df["SDX Set"].apply(lambda x: tuple(x) if isinstance(x, list) else x)
df["Common_PX"] = df["Common_PX"].apply(lambda x: tuple(x) if isinstance(x, list) else x)

# 1 Base Aggregation
df_group = df.groupby(["Provider_ID","AGE_Bin"]).agg(
    tot_claims=("InitialDeterminationStatus", "count"),
    app_count=("InitialDeterminationStatus", lambda x: (x == "Approved").sum()),
    den_count=("InitialDeterminationStatus", lambda x: (x == "Denied").sum()),
    tot_payments=("Payments", "sum"),
    avg_payments=("Payments", "mean"),
    #max_payments=("Payments", "max"),
    #min_payments=("Payments", "min"),
    #count_payments=("Payments", "count")
).reset_index()

# 2 % Denied
df_group["per_app"] = (
    df_group["app_count"] / df_group["tot_claims"] * 100
).round(2)

df_group["per_den"] = (
    df_group["den_count"] / df_group["tot_claims"] * 100
).round(2)

# 3 Denied-only aggregation
denied_stats = df[df["InitialDeterminationStatus"] == "Denied"].groupby(
    ["Provider_ID","AGE_Bin"]
).agg(
    den_tot_payments=("Payments", "sum"),
    den_avg_payments=("Payments", "mean"),
    den_avg_saving=("IDSavings", "mean"),
    den_tot_saving=("IDSavings", "sum")
).reset_index()

# 4 Merge
df_group = df_group.merge(denied_stats, on=["Provider_ID","AGE_Bin"], how="left")

# 5 Sorting
df_group = df_group.sort_values(by="den_count", ascending=False).reset_index(drop=True)

cols = [
    'tot_payments',
    'avg_payments',
    'per_app',
    'per_den',
    'den_tot_payments',
    'den_avg_payments',
    'den_avg_saving',
    'den_tot_saving'
]

df_group[cols] = df_group[cols].round(2)

df_group.to_excel("Sur_DRG_Provider_age.xlsx")
df_group.head(15)

C:\Users\Arunkumara\AppData\Local\Temp\ipykernel_12440\519229250.py:13: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df_group = df.groupby(["Provider_ID","AGE_Bin"]).agg(
C:\Users\Arunkumara\AppData\Local\Temp\ipykernel_12440\519229250.py:34: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  denied_stats = df[df["InitialDeterminationStatus"] == "Denied"].groupby(

,Provider_ID,AGE_Bin,tot_claims,app_count,den_count,tot_payments,avg_payments,per_app,per_den,den_tot_payments,den_avg_payments,den_avg_saving,den_tot_saving
0,000090250B,70-80,40,35.0,5.0,975675.95,24391.90,87.50,12.50,149283.29,29856.66,4357.03,21785.17
1,730700090,50-60,14,9.0,5.0,247608.83,17686.34,64.29,35.71,86001.41,17200.28,9131.76,45658.78
2,000104720F,70-80,18,14.0,4.0,436797.04,24266.50,77.78,22.22,101269.07,25317.27,11895.00,47580.00
3,566017737F,70-80,26,22.0,4.0,742952.69,28575.10,84.62,15.38,96419.74,24104.94,11561.39,46245.56
4,582026750,70-80,4,0.0,4.0,107767.81,26941.95,0.00,100.00,107767.81,26941.95,10625.01,42500.03
5,582149128A,70-80,36,32.0,4.0,798739.77,22187.22,88.89,11.11,132521.79,33130.45,5166.00,20664.02
6,582190713N,70-80,10,6.0,4.0,217625.86,21762.59,60.00,40.00,112792.27,28198.07,8323.04,33292.18
7,800818718,60-70,9,5.0,4.0,272011.29,30223.48,55.56,44.44,149712.17,37428.04,13942.22,55768.90
8,272844767,60-70,9,6.0,3.0,327407.26,36378.58,66.67,33.33,108113.43,36037.81,10989.40,32968.21
9,000059420E,70-80,42,39.0,3.0,972441.88,23153.38,92.86,7.14,87016.88,29005.63,8063.82,24191.46
10,000098152D,70-80,14,11.0,3.0,403617.62,28829.83,78.57,21.43,85532.09,28510.70,11539.28,34617.84
11,000062947F,70-80,7,4.0,3.0,227075.07,32439.30,57.14,42.86,112600.22,37533.41,8856.75,26570.25
12,000198540A,70-80,26,23.0,3.0,610457.93,23479.15,88.46,11.54,69992.92,23330.97,9862.27,29586.82
13,000028386L,70-80,11,8.0,3.0,244541.74,22231.07,72.73,27.27,75591.43,25197.14,3695.75,11087.26
14,000061694I,30-40,6,3.0,3.0,91375.09,15229.18,50.00,50.00,31856.61,10618.87,3947.06,11841.17